<% include ../partials/header %>

<div class='container'>
    <div class='row'>
		<h1 class='addNew'>Add new photos</h1>
		<form class='dropzone' id="upload-widget" enctype="multipart/form-data" action='/galleries/<%= gallery._id %>/photos' method='POST'>
			<div class='fallback'>
				<input type='file' name='file' />
			</div>
		</form>
	</div>
	<a id='submit' href='/galleries/<%= gallery._id %>' class="btn btn-primary">Done</a>
</div>
<script src="/js/dropzone.js"></script>

<% include ../partials/footer %>