<% include ../partials/header %>
<script src="/js/dropzone.js"></script>

<div class='container'>
    <div class='row'>
		<h1 class='addNew'>Add new photos</h1>
		<form class='dropzone' id='upload-widget' enctype="multipart/form-data" action='/galleries/<%= gallery._id %>/photos' method='POST'>
        <div class='dropzone-previews'></div>
		</form>
		<button id='submitButton' type='submit' class='btn btn-primary'>Upload</button>
		<a id='done' href='/galleries/<%= gallery._id %>' class='btn btn-danger'>Done</a>
	</div>
</div>

<script src="/js/myDz.js"></script>



<% include ../partials/footer %>