<% include ../partials/header %>
<div class='container'>
    <header class='jumbotron'>
        <div class='container introContainer'>
            <h1>Galleries</h1>
            <% if (currentUser && (currentUser.role === 'admin')) { %>
            <a class='btn titleButton' data-toggle='tooltip' title='Add new gallery' href='/galleries/new'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></a>
            <% } %>
        </div>
    </header>
</div>

<div class='container'>
    <div class='row text-center' style='display:flex; flex-wrap:wrap;'>
        <% galleries.forEach( function(gallery) { %>
        <div class='col-md-3 col-sm-6'>
            <div id='imageContainer' class='thumbnail'>
                <a href='/galleries/<%= gallery.id %>'>
                <% if (gallery.photos && (gallery.photos.length > 0)) { %>
                    <img id='<%= gallery.photos[0]._id %>' src='<%= gallery.photos[0].image %>' >
                <% } else { %>
                    <span class="oi oi-plus"></span>
                <% } %>
                <p class='title'><%= gallery.title %></p>
                <div class='overlay'></div>
                </a>
            </div>
        </div>
        <% }) %>
    </div>
</div>  

<% include ../partials/footer %>
