<% include ../partials/header %>
<div class='container'>
    <header class='jumbotron'>
        <div class='container'>
            <h1>Galleries</h1>
            <% if (currentUser && (currentUser.role === 'admin')) { %>
            <p>
                <a class='btn btn-primary btn-lg' href='/galleries/new'>Add New Gallery</a>
            </p>
            <% } %>
        </div>
    </header>
</div>

<div class='container'>
    <div class='row text-center' style='display:flex; flex-wrap:wrap;'>
        <% galleries.forEach( function(gallery) { %>
        <div class='col-md-3 col-sm-6'>
            <div class='thumbnail'>
                <a href='/galleries/<%= gallery.id %>'>
                <% if (gallery.photos && (gallery.photos.length > 0)) { %>
                    <img id='<%= gallery.photos[0]._id %>' src='<%= gallery.photos[0].image %>' >
                <% } else { %>
                    <span class="oi oi-plus"></span>
                <% } %>
                <div class='caption'>       
                    <h4><%= gallery.title %></h4>
                </div>
                </a>
            </div>
        </div>
        <% }) %>
    </div>
</div>  

<% include ../partials/footer %>
