<% include ../partials/header %>
<h1>New Gallery</h1>

<a href='/galleries/gallID'>Go to gallery page</a>

<form action='/galleries' method='POST'>
	<input type='text' name='gallery[title]' placeholder='Name'>
	<input type='submit'>
</form>

<% include ../partials/footer %>
